@model CourierTrackingAndDeliverySystem.Models.Package

@{
    ViewData["Title"] = "Package Status";
}

<div class="container">
    <div class="package-status-box">
        <h2>Package Status</h2>

        <div class="package-info">
            <p><strong>Tracking Number:</strong> @Model.TrackingNumber</p>
            
        </div>
    </div>
</div>
