@{
    ViewData["Title"] = "Login";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="login-box text-center">
        <h2 class="mb-4">Login</h2>
        <form asp-controller="Authentication" asp-action="Login" method="post">
            <!-- Email/Username Input -->
            <div class="form-group mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
            </div>

            <!-- Password Input -->
            <div class="form-group mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
            </div>

            <!-- Login Button -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block w-100">Next</button>
            </div>
        </form>
       
        <div class="mt-3">
            <p class="small">Not your device? Use Guest mode to sign in privately. <a href="#" class="text-primary">Learn more</a></p>
        </div>
        
    </div>
</div>


